{% extends 'store/base.html' %}
{% load static %}
{% block title %}Cart{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="box-element">

                <a class="btn btn-outline-dark" href="{% url 'store' %}">&#x2190; Continue Shopping</a>

                <br>
                <br>
                <table class="table">
                    <tr>
                        <th><h5>Items: <strong>{{ cart.quantity_of_items }}</strong></h5></th>
                        <th><h5>Total:<strong> ${{ cart.total_price|floatformat:2 }}</strong></h5></th>
                        <th>
                            <a style="float:right; margin:5px;" class="btn btn-success" href="{% url 'checkout' %}">Checkout</a>
                        </th>
                    </tr>
                </table>

            </div>

            <br>
            <div class="container box-element" >
                <div class="cart-row row">
                    <div class="col-sm">Item</div>
                    <div class="col-sm">Price</div>
                    <div class="col-sm">Quantity</div>
                    <div class="col-sm">Total</div>
                </div>
                <div id="cart-rows-container">
                    {% for  item in cart.get_items %}
                        <div class="cart-row row">
                            <div class="col-sm">
                                <img class="row-image" src=" {{ item.product.main_image.url }}">
                                <span>{{ item.product.title }}</span>
                            </div>
                            <div class="col-sm">${{ item.product.price|floatformat:2 }}</div>
                            <div class="col-sm">
                                <p class="quantity">{{ item.quantity }}</p>
                                <div class="quantity">
                                    <img data-SKU="{{ item.product.sku }}" data-action="add_item"
                                         class="chg-quantity update-cart" src="{% get_media_prefix %}arrow-up.png">

                                    <img data-SKU="{{ item.product.sku }}" data-action="remove_item"
                                         class="chg-quantity update-cart" src="{% get_media_prefix %}arrow-down.png">
                                </div>
                            </div>
                            <div>${{ item.cart_item_price|floatformat:2 }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script type="module" src={% static 'JS/add_or_remove_item_to_cart.js' %}></script>
{% endblock %}
