{% extends 'store/base.html' %}
{% load static %}
{% load mathfilters %}
{% block title %}Store{% endblock %}
{% block body %}
    <div class="row">
        {% for product in products %}
            <div class="col col-lg-4">
                <img class="thumbnail" src="{{product.main_image.url}}" alt="Image of the product">
                <div class="box-element product">
                    <h6><strong>{{ product.title }}</strong></h6>
                    <hr>
                    <button data-sku="{{product.sku}}" data-cart-action="addItem" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
                    <a class="btn btn-outline-success" href="{% url 'product_details' sku=product.sku%}">View</a>
                    <h4 style="display: inline-block; float: right"><strong>${{product.price|floatformat:2}}</strong></h4>
                </div>

            </div>
        {% endfor %}
    </div>
<div class="pagination">
    <span class="step-links">
        {% if products.has_previous %}
            <a href="?page={{products.previous_page_number}}">Previous</a>
        {% endif %}
        <span class="current">
            Page {{ products.number }} of {{ paginator.num_pages }}
        </span>
        {% if products.has_next %}
            <a href="?page={{ products.next_page_number }}">Next</a>
        {% endif %}
    </span>
</div>
{% endblock %}

{% block scripts %}
    <script type="module" src={% static 'JS/cart.js' %}></script>
{% endblock %}